@media (min-width: 768px) {
  h1,
  h2,
  h3,
  .intro-description,
  .content-title,
  .description, 
  .dementia-cause {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .navbar {
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
}
@media (max-width: 575.98px) {
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 12px;
  }
  .book-cover {
    display: flex;
    align-content: center;
  }
  .dementia-cause {
    text-align: left;
  }
}
:root {
  --primary-color: #0B2A3F;
  --secondary-color: #2f6a69;
  --primary-background: #D3E4E9;
}

body {
  font-family: sans-serif;
  background: var(--primary-background);
}
a {
  transition: all 100ms ease-in-out;
}
.content {
  background: white;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  display: block;
}

.contact-page {
  max-width: 500px;
}
.body-wrapper {
  max-width: 800px;
  display: block;
  margin: 80px auto;
}
.media-image {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 4px;
}
.card {
  border: none;
}
.book-cover {
  width: 100%;
  height: auto;
  display: block;
  margin: auto 0;
  border-radius: 4px;
}

.book-cover {
  max-width: 200px;
}
.button {
  background: var(--primary-color);
  color: var(--primary-background);
  margin: auto;
}
.button:hover {
  background: var(--secondary-color);
  color: var(--primary-background);
}
.media-link {
  text-decoration: none;
  color: black;
}
.buy-missing-link {
  max-width: 500px;
}
.social-media-links {
  color: black;
  text-decoration: none;
}
.social-media-links:hover {
  color: var(--secondary-color);
}
.source, .source-link {
  color: var(--secondary-color);
}

.source-link:hover {
  color: black;
}