@media (min-width: 576px) {
    h1, h2, .intro-description {
        text-align: center;
    }
    .content {
        border-radius: 10px;
    }
    .small-photo {
        display: none;
    }
}
@media (max-width: 576px) {
    .big-photo { display: none;}
}

body {
    background: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);}
.content {
    background: rgb(255, 254, 251);
    padding: 10px;
    margin: 50px 0px;
}
.body-wrapper {
    max-width: 850px;
    margin: auto;
}